<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block content %}
  <html lang="ru"> <!-- Язык сайта - русский -->
  <head>    
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/this_is_my_style' %}" >
    <!-- Сайт готов работать с мобильными устройствами -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Загружаем фав-иконки -->
    <link rel="icon" href="img/fav/fav.ico" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/fav/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <!-- Подключен файл со стандартными стилями бустрап -->
    {% block title %}<title>Об авторе проекта</title>{% endblock %}
  </head>
  <body>
	<br>
	<br>
    <div class="container">
      <h2>Привет, я не люблю html.</h2>
      <p>
        Именно и с этого мне захотелось начать диалог с вами <br>
		Начиная своё обучение в ЯП я надеялся, что на пути мне встретиться минимум html и css, и больше всяких основ программирования.
		<br>
		<br> И вот мы изучаем Django. <br> Django для меня - спутанный клубок взаимосвязей и наследований, разобрать которые представляется довольно тяжелой задачей.
		<br> Признаться, по мере прохождения курса - веб для меня постепенно перестаёт быть столь ненавистным и страшным.
		<br> Говорят же, мол смотри своим страхам в лицо. <br> Смотрю.
	  </p>
	  <br>
	  <h2>Немного о себе</h2>
	  <p>
		Моё знакомство с IT началось с обучения в Подмосковном колледже по специальности "Программирование ОС" <br>
		Обучение там было каторгой. Учителя казались безразличными к своей работе и преподаванию в целом, программа обучения составлена нелогично,
		<br> а академ-часы спустя какое-то время заполняли просмотрами фильмов, и прочей ерундой.
		<br> А ещё вставать в 7 утра и тратить полтора часа на дорогу. Словом - обучение приносило мне боль.
		<br> Понял что трачу время впустую я на 4 курсе обучения. За 2 месяца до диплома... 
        <br> И без угрызения совести отчислился, не забрав документы.
      </p>
	  <p>
		Тогда я пришел к выводу: программирование - не моё. <br>
		И с это мыслью ушел работать в кофе.
		<br>Проработав в сфере почти 6 лет понял, что хочу уметь что-то, кроме того что варить и жарить кофе.
		<br>Привести мозги в тонус мне почему-то захотелось вновь обратившись к программированию.
		<br>Изучив перечень актуальных популярных языков - выбор пал на Питоне
		<br>"Начну с него, а там - посмотрим"
	  </p>
	  <p>
		Обучение даётся тяжело. Наставник успокоил, что это нормально, так что стараюсь не переживать. <br>
		Что касается дальнейших целей - примерное понимание ко мне пришло буквально на днях.
		<br>Взахлеб просмотрев трансляцию GTF standoff365 я загорелся идеей погружения в пентест.
		<br>Я люблю спорт - он дарит азарт, адреналин, драйв.
		<br>Пентест для меня сейчас - как программирование помноженное на (командный) спорт,
		<br>где задача - найти слабость противника на поле игры, или защититься от его нападения, в зависимости от стороны.
	  </p>
	  <p>
	    Двигаюсь в этом направлении.
	  </p>
	  <img src="{% static 'img/hat.jpg' %}" class="d-inline-block align-top margin-left:200px" alt="">
	</div>
  </body>
{% endblock %} 
